<?php
use Zend\View\View;
use Zend\View\Helper\ViewModel;
?>
<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Ad &raquo;
<strong>Action:</strong>        edit





<h2>Edit</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->



 
 
 <tr>
 <dl class="dl-horizontal">
 <form  method="GET">
 
 	<dt>
 	<?php if (isset($_GET["date"])) {
    save();
  }?>
 
      <dt>
     	<?php   echo "Date:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php	
    
     	   echo "YYYY-MM-DD"; ?>"name="date"> 
     </dd>
     
     
     
    
     <a href="http://localhost:8080/AppMediador/public/Availability">Back</a> |
             
               <input type="submit" name="submit" value="Submit">
     </form>
     
      </dl>



     
     <td>
     
               
              
             
                
            </td>
     

     <?php 
     use Zend\Http\Client;
      function save()
     {
  
        session_start();
       
          
          
         $ch = curl_init('http://localhost:50371/ServiceAlgav/Create/'.$_GET['date'].'/'.$_SESSION['username'].'/');
         curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "GET");
      
        var_dump($ch);
         curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
         curl_setopt($ch, CURLOPT_HTTPHEADER, array(
             'Content-Type: application/json',
             'Content-Length: 0')
             );
             $result = curl_exec($ch);
   
             

     
     
     }
     ?>