
<h2>Index</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->

<p>
<a href="Visit/generate">Generate Visit</a>
</p> 
 <table class="table"> 
 <tr>
     <th>
     	<?php   echo "Day";?> 
     </th>
     
     <th>
    	<?php   echo "Start Hour";?> 
     </th>
     
     <th>
     	<?php   echo "End Hour";?> 
     </th>
     
     <th>
    	<?php   echo "Realty";?> 
     </th>
     
    
    
  </tr>
  
<?php 


 foreach ($this->visitas as $visita ){ 
 
     if (strcmp( $visita['User'], "'".$_SESSION['username']."'")==0){?> 
 <tr>
     <td>
     	<?php 
     	 $day = explode('T', $visita['Day']);
     	echo $day[0]; ?> 
     </td>
     
     <td>
     <?php	
     $day = explode('T', $visita['StartHour']);
     $hour = explode('.', $day[1]);
     	   echo $hour[0]; ?> 
     </td>
     
     <td>
     	<?php	
     $day = explode('T', $visita['EndHour']);
     $hour = explode('.', $day[1]);
     	   echo $hour[0]; ?> 
     </td>
     <td>
     	<?php   echo $visita['realty']; ?> 
     </td>
     
     
     
      <td>
     	<?php  }// echo $anuncio['Photo']; }?> 
     </td>
     
     <td>
     
             	
               
              
              <?php 
             // var_dump($this->url('Ad', array('action'=>'details', 'id' => $anuncio['AdID'])));
             //'module'=>'Mediador', 'controller'=>'ad', 'action'=>'details', 'id'=>$anuncio['AdID']), null, true)
              ?>
             
                
            </td>
            <?php }?>
 </tr>

 </table>




