﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }

    if (User.IsInRole("User"))
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Ad", "Index", "AdViewModel")</li>
            <li>@Html.ActionLink("Alert", "Index", "Alert")</li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Realty Type", "Index", "RealtyType")</li>
            <li>@Html.ActionLink("Role", "Index", "Account/RoleIndex")</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
