﻿@model RealEstateLibrary.Models.Alert

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealtyType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealtyType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxArea)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlertID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
