﻿@using Microsoft.AspNet.Identity
@model IEnumerable< RealEstateLibrary.Models.Alert >

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Alert", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealtyType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxArea)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.UserName.Equals(User.Identity.Name))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealtyType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxArea)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlertID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlertID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlertID })
            </td>
        </tr>
    }

}

</table>
