﻿@using Cliente_IT3.Helpers
@model IEnumerable<Cliente_IT3.ViewModels.AlertVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Alert", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AdTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealtyTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxArea)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.isProprietary(WebApiHttpClient.userLogged.UserName))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealtyTypeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxArea)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlertID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlertID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlertID })
            </td>
        </tr>
    }

}

</table>
