﻿@model RealEstateLibrary.Models.Ad

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.RealtyType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.RealtyType.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.GPSLocation.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.GPSLocation.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.GPSLocation.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.GPSLocation.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realty.GPSLocation.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realty.GPSLocation.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        @if (Model.Photos.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Photos)
            </dt>

            for (int i = 0; i < Model.Photos.Count; i++)
            {
                if (Model.Photos[i].URL != null)
                {
                    <td>
                        <img src="@Model.Photos[i].URL" alt="image" width="100px" height="100px" />
                    </td>

                }
            }
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
