﻿@using Microsoft.AspNet.Identity

@model IEnumerable<RealEstateLibrary.Models.Ad>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Ad", "Create")
</p>
<table class="table">
    <tr>
        @if (TempData["erro2"] != null)
        {
            <span style="color:Red;">  @TempData["erro2"] </span>
        }
        <th>
            @Html.DisplayNameFor(model => model.AdType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realty.RealtyType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realty.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realty.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realty.RealtyType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realty.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realty.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>

        @if (item.Photos.Count > 0)
        {
            if (item.Photos[0].URL != null)
            {
                <td>
                    <img src="@item.Photos[0].URL" alt="image" width="50px" height="50px" />
                </td>
            }
            else
            {
                <td></td>
            }
        }
        else
        {
            <td></td>
        }

        @if (item.User.Equals(User.Identity.Name))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AdID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AdID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AdID })
            </td>
        }
        else
        {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AdID })
                </td>
        }
    </tr>
}

</table>
