﻿@model IEnumerable<Cliente_It3.ViewModels.VisitVM>
   

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.realtyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.realty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var nome = Membership.GetUser(User.Identity.Name).Email;
    if (("'" + nome + "'").Equals(item.User)) { }
    <tr>    

        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.realtyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.realty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    }
}

</table>
