<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Ad &raquo;
<strong>Action:</strong>        details

<?php // var_dump($this->details);?>


<h2>Details</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->



 
 
 <tr>
 <dl class="dl-horizontal">
     <dt>
     	<?php   echo "AdType:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['AdTypeDescription'];?> 
     </dd>
     
     <dt>
     	<?php   echo "Realty:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['RealtyTypeDescription'];?> 
     </dd>
     
      <dt>
     	<?php   echo "Address:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['Address'];?> 
     </dd>
     
      <dt>
     	<?php   echo "Area:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['Area'];?> 
     </dd>
     
      <dt>
     	<?php   echo "Main Type:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['MainTypeID'];?> 
     </dd>
     
     <dt>
     	<?php   echo "Latitude:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['Latitude'];?> 
     </dd>
     
     <dt>
     	<?php   echo "Longitude:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['Longitude'];?> 
     </dd>
     
     <dt>
     	<?php   echo "Altitude:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['Altitude'];?> 
     </dd>
     
     <?php /* var_dump($details['Photo'].);*/?>
     <?php /* if ($details['Photo'] > 0)
        {
            if (item.Photo[0] != null)
            {
                <td>
                    <img src="@item.Photo[0]" alt="image" width="50px" height="50px" />
                </td>
            }
            else
            {
                <td></td>
            }
    */ ?>
   </dl>
  


     
     <td>
     
               <a href="http://localhost/mediadorit3/public/Imobiliaria/ad">Back</a> |
             
              
               <a href="http://localhost/mediadorit3/public/Imobiliaria/ad/Delete/<?php echo $details['AdID']?>">Delete</a> 
              
             
                
            </td>
            


 