<?php
use Zend\View\View;
use Zend\View\Helper\ViewModel;
?>
<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Ad &raquo;
<strong>Action:</strong>        edit





<h2>Edit</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->



 
 
 <tr>
 <dl class="dl-horizontal">
 <form action="save()" method="put">
 
 	<dt>
 	<?php if (isset($_GET['ID'])) {
    save();
  }?>
  
  <dd>
     	<input type="text"  value="<?php  echo $edit['AdID'];?>"name="ID" readonly> 
     </dd>
     	<?php   echo "Status:";?> 
     </dt>
     
     <dd>
    
     <?php if($this->$edit['status']){?>
     <input type="checkbox"  value="Status" name="Status" checked="cheked"> 
      <?php } else {?>
       <input type="checkbox"  value="Status" name="Status"> <?php }?>
     </dd>
 
     <dt>
     	<?php   echo "AdType:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php  echo $edit['AdTypeDescription'];?>"name="AdType"> 
     </dd>
     
     <dt>
     	<?php   echo "Realty:";?> 
     </dt>
     
     <dd>
     <input type="text"  value="<?php  echo $edit['RealtyTypeDescription'];?>"name="Realty"> 
     </dd>
     
      <dt>
     	<?php   echo "Address:";?> 
     </dt>
     
     <dd>
     <input type="text"  value="<?php  echo $edit['Address'];?>"name="Address"> 
     </dd>
     
      <dt>
     	<?php   echo "Area:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php  echo $edit['Area'];?>"name="Area"> 
     </dd>
     
      <dt>
     	<?php   echo "Main Type:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php  echo $edit['MainTypeID'];?>"name="MainType">
     </dd>
     
     <dt>
     	<?php   echo "Latitude:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php  echo $edit['Latitude'];?>"name="Latitude">
     </dd>
     
     <dt>
     	<?php   echo "Longitude:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php  echo $edit['Longitude'];?>"name="Longitude">
     </dd>
     
     <dt>
     	<?php   echo "Altitude:";?> 
     </dt>
     
     <dd>
     	<input type="text"  value="<?php  echo $edit['Altitude'];?>"name="Altitude">
     </dd>
     <a href="http://localhost:8080/AppMediador/public/ad">Back</a> |
             
               <input type="submit" name="submit" value="Submit" onclick="save()">
     </form>
     
      </dl>



     
     <td>
     
               
              
             
                
            </td>
     

     <?php 
     use Zend\Http\Client;
      function save()
     {

        $id= $_GET["ID"];
        $client = new Client();
        $pedido= 'http://localhost:50371/api/Ad/'.$id;
        
        $client->setUri($pedido);
        $client->setOptions(array(
            'maxredirects' => 0,
            'timeout'      => 30,
            'Content-lenght' =>900,
        ));
        
        $response = $client->send();
        $response_array = json_decode($response->getBody(), true);
        
        if (isset($_GET['Status'])) {
        $response_array['Status'] = $_GET["Status"];
        }
        $response_array['AdType'] = $_GET["AdType"];
        $response_array['Realty'] = $_GET["Realty"];
        $response_array['Address'] = $_GET["Address"];
        $response_array['Area'] = $_GET["Area"];
        $response_array['MainType'] = $_GET["MainType"];
        $response_array['Latitude'] = $_GET["Latitude"];
        $response_array['Longitude'] = $_GET["Longitude"];
        $response_array['Altitude'] = $_GET["Altitude"];
        
        
       // var_dump($response_array);
        
        $send = json_encode($response_array);
         
         
         $ch = curl_init('http://localhost:50371/api/Ad/'.$id);
         curl_setopt($ch, CURLOPT_CUSTOMREQUEST, "PUT");
         curl_setopt($ch, CURLOPT_POSTFIELDS, $send);
         curl_setopt($ch, CURLOPT_RETURNTRANSFER, true);
         curl_setopt($ch, CURLOPT_HTTPHEADER, array(
             'Content-Type: application/json',
             'Content-Length: ' . strlen($send))
             );
        
        $result = curl_exec($ch);
        ob_start();
        header('Location: http://localhost:8080/AppMediador/public/ad');
        ob_end_flush();
        die();
        
     
     
     }
     ?>
  
            