﻿@model IEnumerable<Cliente_IT3.ViewModels.NotificationVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <table class="table">
        <tr>
            @if (TempData["erro2"] != null)
            {
                <span style="color:Red;">  @TempData["erro2"] </span>
            }
            <th>
                Message
            </th>
            
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.menssage)
                </td>
                
                <td>
                    @Html.ActionLink("Delete", "Edit", new { id = item.NotificationID }) 
                </td>
            </tr>
        }

    </table>


