﻿.myclass { 
	
	border:none;
	width:100%;
	display:inline-block;
	overflow:visible;
	padding-bottom:10px; 
	cursor: default;
}

#result{
	border:1px solid #CCC;
	background-color:#FBFBFB;
	padding:5px;
	margin:5px 0;
	border-radius: 10px 20px 30px
	
	
}
#table td{
	border:none;
	display:inline-block;
	overflow:visible;
	padding-bottom:10px; 
	
}
.td50{
	width:50%; 
	vertical-align:top;
	display:inline-block;
	padding:0;
	margin:0;
	border:2px;
}

.td100{
	width:100%; 
	vertical-align:top;
	display:inline-block;
	padding:0;
	margin:0;
	border:2px;
}

#cleanButton{
	border-radius: 18px;
	border-color:#FBFBFB;
	padding: 5px 5px;
	position:relative;
	top:50%;
	left:75%;
}