﻿@model IEnumerable<Cliente_IT3.ViewModels.RoleVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>&nbsp;</p>
<div class="spacerBody">
    <p>&nbsp;</p>
    <h2>Role index</h2>

    <p>
        @Html.ActionLink("Create New Role", "Create")
    </p>
    <p>
        @Html.ActionLink("Add Role to User", "AddRoleToUser")
    </p>


    @foreach (var item in Model)
    {
        <p>
            @item.name
            <span onclick=" return confirm('Are you sure to delete?') ">
                <a href="/Role/Delete?Id=@item.name" class="delLink">Delete</a>
            </span>
        </p>
    }
</div>