﻿@model IEnumerable<Cliente_IT3.ViewModels.RealtyTypeVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Realty Type", "Create")
</p>
<table class="table">
    <tr>
        @if (TempData["erro2"] != null)
        {
            <span style="color:Red;">  @TempData["erro2"] </span>
        }
        <th>
            @Html.DisplayNameFor(model => model.MainTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MainTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RealtyTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RealtyTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RealtyTypeID })
        </td>
    </tr>
}

</table>
