﻿@using Cliente_IT3.Helpers
@if (WebApiHttpClient.userLogged != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + WebApiHttpClient.userLogged.UserName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }


    <ul class="nav navbar-nav">
          
        @if (WebApiHttpClient.role.Contains("Admin"))
        {
            <li>@Html.ActionLink("Realty Type", "Index", "RealtyType")</li>
            <li>@Html.ActionLink("Role", "Index", "Role")</li>
        }
        @if (WebApiHttpClient.role.Contains("User"))
        {
            <li>@Html.ActionLink("Ad", "Index", "AdViewModel")</li>
            <li>@Html.ActionLink("Alert", "Index", "Alert")</li>
            <li>@Html.ActionLink("Notification", "Index", "Notification")</li>
            <li>@Html.ActionLink("Availability", "Index", "Availibility")</li>
            <li>@Html.ActionLink("Visit", "Index", "Visit")</li>
        }
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
