<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Ad &raquo;
<strong>Action:</strong>        details

<?php // var_dump($this->details);?>


<h2>Details</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->



 
 
 <tr>
 <dl class="dl-horizontal">
     <dt>
     	<?php   echo "Day:";?> 
     </dt>
     
     <dd>
     	<?php 
     	 $day = explode('T', $details['Day']);
     	echo $day[0]; ?> 
     </dd>
     
     <dt>
     	<?php   echo "Start Hour:";?> 
     </dt>
     
     <dd>
     	<?php	
     $day = explode('T', $details['StartHour']);
     $hour = explode('.', $day[1]);
     	   echo $hour[0]; ?> 
     </dd>
     
      <dt>
     	<?php   echo "End Hour:";?> 
     </dt>
     
     <dd>
     	<?php	
     $day = explode('T', $details['EndHour']);
     $hour = explode('.', $day[1]);
     	   echo $hour[0]; ?> 
     </dd>
     
      <dt>
     	<?php   echo "Realty:";?> 
     </dt>
     
     <dd>
     	<?php  echo $details['realty'];?> 
     </dd>
     
     
     <?php /* var_dump($details['Photo'].);*/?>
     <?php /* if ($details['Photo'] > 0)
        {
            if (item.Photo[0] != null)
            {
                <td>
                    <img src="@item.Photo[0]" alt="image" width="50px" height="50px" />
                </td>
            }
            else
            {
                <td></td>
            }
    */ ?>
   </dl>
  


     
     <td>
     
               <a href="http://localhost:8080/AppMediador/public/Availability">Back</a> |
             
              
               <a href="http://localhost:8080/AppMediador/public/Availability/Delete/<?php echo $details['AdID']?>">Delete</a> 
              
             
                
            </td>
            


 