
<h2>Index</h2>


<!--<a href="<?php // echo $this->url('ad', array('action'=>'index'));?>">Create New Ad</a>-->

<p>

</p> 
 <table class="table"> 
 <tr>
     <th>
     	<?php   echo "Day";?> 
     </th>
     
     <th>
    	<?php   echo "Start Hour";?> 
     </th>
     
     <th>
     	<?php   echo "End Hour";?> 
     </th>
     
     <th>
    	<?php   echo "Realty";?> 
     </th>
     
    
    
  </tr>
  
<?php 
 foreach ($this->visitas as $visita ){ ?> 
 <tr>
     <td>
     	<?php 
     	 $day = explode('T', $visita['Day']);
     	echo $day[0]; ?> 
     </td>
     
     <td>
     <?php	
     $day = explode('T', $visita['StartHour']);
     $hour = explode('.', $day[1]);
     	   echo $hour[0]; ?> 
     </td>
     
     <td>
     	<?php	
     $day = explode('T', $visita['EndHour']);
     $hour = explode('.', $day[1]);
     	   echo $hour[0]; ?> 
     </td>
     
     <td>
     	<?php   echo $visita['realty']; ?> 
     </td>
     
     
     
      <td>
     	<?php  // echo $anuncio['Photo']; }?> 
     </td>
     
     <td>
     
               <a href="Availability/Edit/<?php echo $visita['ID'];?>">Edit</a> |
               <a href=" Availability/details/<?php echo $visita['ID'];?>">Details</a> | 
               <a href="Availability/delete/<?php echo $visita['ID'];?>">Delete</a> 
              
              
              <?php 
             // var_dump($this->url('Ad', array('action'=>'details', 'id' => $anuncio['AdID'])));
             //'module'=>'Mediador', 'controller'=>'ad', 'action'=>'details', 'id'=>$anuncio['AdID']), null, true)
              ?>
             
                
            </td>
            <?php }?>
 </tr>

 </table>




