<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Ad &raquo;
<strong>Action:</strong>        mediate


<?php //var_dump($this->$delete); ?>

<h2>Mediate object Sucesss</h2>

<?php  ?>
            
