﻿@model Cliente_IT3.ViewModels.AdVM

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealtyTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealtyTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        @if (Model.Photo.Count > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            for (int i = 0; i < Model.Photo.Count; i++)
            {
                if (Model.Photo[i] != null)
                {
                    <td>
                        <img src="@Model.Photo[i]" alt="image" width="100px" height="100px" />
                    </td>

                }
            }
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
