﻿@using Cliente_IT3.Helpers
@model IEnumerable<Cliente_IT3.ViewModels.AdVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Ad", "Create")
</p>
<table class="table">
    <tr>
        @if (TempData["erro"] != null)
        {
            <span style="color:Red;">  @TempData["erro"] </span>
        }
        <th>
            @Html.DisplayNameFor(model => model.AdTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RealtyTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AdTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RealtyTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>

        @if (item.Photo.Count > 0)
        {
            if (item.Photo[0] != null)
            {
                <td>
                    <img src="@item.Photo[0]" alt="image" width="50px" height="50px" />
                </td>
            }
            else
            {
                <td></td>
            }
        }
        else
        {
            <td></td>
        }

        @if (item.isProprietary(WebApiHttpClient.userLogged.UserName))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AdID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AdID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AdID }) |
                @Html.ActionLink("Visit", "Create", "Availibility", new { id = item.AdID },null)
            </td>
        }
        else
        {
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.AdID }) |
                    @Html.ActionLink("Visit", "Create", "Availibility", new { id = item.AdID },null)
                </td>
        }
    </tr>
}

</table>
